/* //////////////////////////strobe////////////////////////// */

.red {
  background-color: red;
}

#strobe{
  color: #597014;
  animation: strobe 700ms steps(1, end) infinite;
  transition: flex .3s;
}

@keyframes strobe {
  50% {
    color: #FFE727;
  }
}

figure:after {
  content: attr(class);
}

body:hover figure {
  animation-play-state: paused;
  background: white;
}

body:hover figure:hover {
  animation-play-state: running;
  flex: 3;
}

/* ///////////////////////Strobe//////////////////////////// */

header {
  padding-top: 40px;
  padding-right: 60px;
  margin-bottom: 20px;
  grid-column: 1/2 2/3 3/4
}

#landing-background {
  background-image: url("FontsAndColorsAndImages/Landing Page Image.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

#game-background {
  box-sizing: border-box;
  background-image: url("FontsAndColorsAndImages/Gameplay background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  text-align: center;
}

#Lets-Play {
  margin-bottom: 0px;
}

#Memory {
  margin-top: 0px;
}

/* modal background */

.modal-background {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}


/* ////////////////////Grid COntainer/////////////////////// */

article {
  box-sizing: border-box;
}

.game-board {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 5px;
}

/*
 */

/* This is the layout of the game html page*/

.grid-body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 1fr 10 1fr;
  grid-gap: 2px;
}

header {
  grid-row: 1/2;
  grid-column: 1 / 4;
  padding-top: 2% display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar-left {
  grid-row: 2/3;
  grid-column: 1 / 2;
}

.side {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 50% 50%;
  grid-gap: 5px;
  grid-row-gap: 20px;
}
.card-type {
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 30vh;
  width: 20vh;
}

.card-amount {
  align-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 30vh;
  width: 20vh;
}

/* ///////////////The Card States//////////////// */

.card {
  box-shadow: 3px 3px;
  margin: auto;
  padding: 5%;
}

.card-back {
  display: grid;
  background-image:
    radial-gradient(#af9946 20%, transparent 0),
    radial-gradient(#af9946 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-color: #e0cc38;
  border-style: ridge;
  border-color: black;
  border-radius: 9%;
  align-self: center;
  height: 95%;
  width: 100%;
}
body {
  background:black;
  background-image:
    radial-gradient(grey 20%, transparent 0),
    radial-gradient(grey 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;

}

.hide {
  display: none;
}

.show {
  margin: auto;
  background-color: #A2D49F;
  border-style: inset;
  border-radius: 5%;
  border-color: #F26247;
  font-size: 60px;
  align-self: center;
}

.correct {
  opacity: 0.5;
  border-color: #ffc2b7;
  background-color: #B8293A;
  filter: alpha(opacity=50);
}

/*////////////////////////////////////////////////////  */

article {
  grid-row: 2/3;
  grid-column: 2 / 3;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3 / 4;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 3/ 4;
  grid-column: 1 / 4;
}

span {
  color: white;
}

/* ////////////////////Grid COntainer/////////////////////// */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.image {
  height: 50%;
  width: 35%;
  /* width: 100%;
  height: 100%;
  position: relative; */
}

.info p {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.title {
  font-family: 'Monoton';
  font-size: 85px;
}

h4, p, #lets-play, #quit, #minutes, #seconds, #play, .timer {
  font-family: 'Press Start 2P', cursive;
  color: #FFE727;
  text-shadow: -1px -1px 0 #597014, 1px -1px 0 #597014, -1px 1px 0 #597014, 1px 1px 0 #597014;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .info p {
    font-size: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.deck {
  background: #716F71;
  padding: 1%;
  border-radius: 4px;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  /* justify-content: space-around; */
  align-items: center;
  margin: 0 0 3em;
}

/*///////////GAME OVER MODAL////////////// */

/*
.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background: #141214;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

*/

/* .card.match {
	cursor: default;
	background: #E5F720;
	font-size: 33px;
	animation-name: rubberBand;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
} */

/*
.deck .card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
	background: #e2043b;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
} */
