/* //////////////////////////strobe////////////////////////// */

.red {
  background-color: red;
}

#strobe {
  color: #C7C12E;
  animation: strobe 700ms steps(1, end) infinite;
  transition: flex .3s;
}

@keyframes strobe {
  50% {
    color: #FFE727;
  }
}

figure:after {
  content: attr(class);
}

body:hover figure {
  animation-play-state: paused;
  background: white;
}

body:hover figure:hover {
  animation-play-state: running;
  flex: 3;
}

/* ///////////////////////Strobe//////////////////////////// */

header {
  padding-top: 75px;
  padding-right: 60px;
  margin-bottom: 20px;
  grid-column: 1/2 2/3 3/4 4/5
}

h5 {
  font-size: 2rem;
}

#landing-background {
  background-image: url("FontsAndColorsAndImages/Landing Page Image.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

#game-background {
  box-sizing: border-box;
  background-image: url("FontsAndColorsAndImages/Landing Page Image.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  text-align: center;
}

#Lets-Play {
  color: margin-bottom: 0px;
}

#Memory {
  margin-top: 0px;
}

/* modal */

.modal-quit-font {
  font-size: 22px;
}

#autocomplete-input {
  font-size: 29px;
  color: #ffe727;
}

.modal-index {
  font-size: 25px;
}

.modal-background {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

h4, #play, .modal-font {
  font-family: 'Press Start 2P', cursive;
  color: #FFE727;
  text-shadow: -2px -2px 0 #924B53, 2px -2px 0 #924B53, -2px 2px 0 #924B53, 2px 2px 0#924B53;
}

/* ////////////////////Grid COntainer/////////////////////// */

div#deckOfCards {
  margin-top: 100px;
}

.game-board {
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 5px;
}

/*
 */

/* This is the layout of the game html page*/

.grid-body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 2fr 8fr 2fr;
  grid-gap: 2px;
}

header {
  display: grid;
  grid-row: 1/2;
  grid-column: 1 / 4;
  padding-top: 2% display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar-left {
  grid-row: 1/4;
  grid-column: 1 / 2;
}

aside {
  grid-column: s
}

.side {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-gap: 5px;
  grid-row-gap: 20px;
}

.card-type {
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 30vh;
  width: 20vh;
}

.card-amount {
  align-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 30vh;
  width: 20vh;
}

/* ///////////////The Card States//////////////// */

.card {
  box-shadow: 3px 4px 5px 0px;
  margin: auto;
  padding: 5%;
}
.background-style {
  background-color: #e1e645;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-image: radial-gradient(#af9946 20%, transparent 0), radial-gradient(#af9946 20%, transparent 0); */
}

.card-back {
  display: grid;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  background-color: #e0cc38;
  border-radius: 9%;
  align-self: center;
  height: 90%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  justify-content: center;
  align-content: space-evenly;
  margin: auto;
  background-color: #fff5ae;
  border-style: solid;
  border-radius: 5%;
  border-color: #adbf4d85;
  font-size: 60px;
  align-self: center;
}

.correct {
  opacity: .7;
  border-color: #327d3b;
  background-color: #72b142;
}

/*////////////////////////////////////////////////////  */

article {
  grid-row: 2/3;
  grid-column: 2 / 3;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3 / 4;
}

time-count {
  grid-column: 2/3;
}

move-count {
  grid-column: 3/4;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 3/ 4;
  grid-column: 2 / 3;
}

span {
  color: white;
}

.transform {
  transform: rotate(270deg);
}

/* ////////////////////Grid COntainer/////////////////////// */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  font-size: 20px;
}

.image {
  height: 50%;
  width: 35%;
  /* width: 100%;
  height: 100%;
  position: relative; */
}

.info p {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.title {
  margin-bottom: 15px;
  font-family: 'Monoton';
  font-size: 100px;
}

.transform-title {
  /* margin-bottom: 15px; */
  font-family: 'Monoton';
  font-size: 80px;
}

#lets-play, #quit, #minutes, #seconds, .timer {
  font-family: 'Press Start 2P', cursive;
  color: #FFE727;
  text-shadow: -2px -2px 0 #597014, 2px -2px 0 #597014, -2px 2px 0 #597014, 2px 2px 0 #597014;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .info p {
    font-size: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.deck {
  background: #ec2045;
  padding: 1%;
  border-radius: 14px;
  box-shadow: inset -2px 0px 26px 0px rgba(117, 47, 80, 0.43);
  align-items: center;
  margin: 0 0 3em;
  border-style:  solid;
  border-color: #32353580;
}


footer div button h6 {
  font-size: 25px;
  vertical-align: text-top;
}

.btn {
  border-width: 2px;
  background-color: #72b041;
  height: 50px;
  box-shadow: inset 0px 1px 20px 0px;
}
